
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>
    <!--header-->
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    <!-- //header -->
    
    
 @RenderBody()
   

  
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("_UILayoutScriptsComponentPartial")

</body>

</html>